:root{
    --clr-primary:#1E6BAF;
    --clr-bg:rgba(148, 145, 240, 0.1);
    --clr-highlight-light: whitesmoke;
    --clr-highlight-dark: #042f55;
    --carousel-height: 400px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
.clear{
    clear: both;
}
a{
    text-decoration: none;
    color: black;
    transition: color 0.25s;
}
ul{
    list-style: none;
}
.main-container{
    max-width: 980px;
    background-color: var(--clr-bg);
    padding: 10px;
    margin: 0 auto;
    position: relative;
}

header #logo img{
    margin: 0;
    padding: 10px;
    float: left;
    width: 100px;
    background-size: cover;
}
header #logo h1{
    float: left;
    padding: 10px;
    margin: 0;
    font-family: 'Kodchasan', sans-serif;
}

header nav {
    width: 100%;
    background-color: var(--clr-primary);
    border-radius: 5px;
}

header nav ul{
    font-size: large;
    font-weight: 500;
    padding: 6px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}
nav ul li{
    padding: 3px 10px;
    text-transform: uppercase;
}
nav ul li a:hover{
     color:var(--clr-highlight-light) ;
}

main{
    width: 100%;
    min-height:500px ;
}

/* ======CAROUSEL====== */
#carousel{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: var(--carousel-height);
    position: relative;
}
#carousel #carousel-img{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: 1s all;
}
#carousel #left-arrow,
#carousel #right-arrow{
    position: absolute;
    width: 100px;
    top: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.15s;
    
}
#carousel #left-arrow{
    left: 0;
    background-image: url("./arrow.svg");
}
#carousel #right-arrow{
    right: 0;
    background-image: url("./arrow.svg");
    transform: rotate(180deg);
}
#carousel #left-arrow:hover,
#carousel #right-arrow:hover{
    opacity: 0.9;
}

#carousel .carousel-title{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30%;
    background-color: var(--clr-highlight-dark);
    bottom: 0;
}
#carousel .carousel-title a{
    color: var(--clr-highlight-light);
    display: block;
    width: fit-content;
    font-size:xx-large;
    text-transform:capitalize;
    text-align: center;
    margin: 25px auto 10px;
    transition: 2s all;
}
#carousel #carousel-txt:read-write{
    transition: 2s all;

}

/* ====NEWS FEED====== */
.container .feed{
display: flex;
justify-content: space-evenly;
align-items: center;
}
.feed .weather table{
    margin: 10px 5px;
border: 1px solid var(--clr-highlight-dark);
text-align: center;
font-size: medium;
font-weight: bold;

}
table thead{
    border: 1px solid var(--clr-highlight-dark);
}
table td{
    border: 1px solid var(--clr-highlight-dark);
}
.feed .video{
box-shadow: 15px 15px 15px rgba(5, 5, 5, 0.658);
/* outline: 4px solid black; */
}
/* ====HOT NEWS===== */
#hotnews article{
    display: flex;
}
#hotnews .article-img img{
    width: 100%;
    height: 300px;
    box-shadow: 8px 10px 15px rgba(30 , 30, 30, 0.65);
}
#hotnews article .article-img{
    padding: 10px;
    flex: 40%;
}
#hotnews article .article-text{
    flex: 40%;
    padding: 10px;
}
#hotnews article .article-text h2{
    text-shadow:  6px 7px 5px rgba(30 , 30, 30, 0.65);;
    transition: 0.1ms all;
    cursor: pointer;
}
#hotnews article .article-text h2:hover{
    color:var(--clr-highlight-dark) ;
}
#hotnews article .article-text p{
    color: var(--clr-highlight-dark);
}
.article-more{
    color: blue;
    font-weight: bold;
}
.article-more:hover{
    text-decoration:underline;
}
/* ====shared style  == */
.art-img{
    width: 100%;
    height: 300px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 10px 10px 15px grey;  
}
.art-text{
    padding: 10px;
    color:var(--clr-highlight-dark);
    font-size: large;
    text-shadow: 5px 5px 4px grey;  ;
}
.art-text span{
    display: inline-block;
    padding-left: 10px;
}
.art-text::first-letter{
    color: var(--clr-primary);
    font-size: larger;
    font-weight: bolder;
}
/* ====Business section == */
#business .art-img{
    background-image: url("https://krify.co/wp-content/uploads/2019/09/5-Business-App-Ideas.png");
}
/* ====Technologies section == */
#techno .art-img{
    background-image: url("https://d6fiz9tmzg8gn.cloudfront.net/wp-content/uploads/2019/02/15tech-Banner.jpg");
}
/* ====Health section == */
#health .art-img{
    background-image: url("https://gloucester-ma.gov/ImageRepository/Document?documentID=6094");
}
/* ====Sport section == */
#sport .art-img{
    background-image: url("https://i.pinimg.com/originals/f8/51/8f/f8518f5f4f43c6694c3103bc2212585c.jpg");
}

/* ====Newsletter======= */
#newsletter div{
    text-align: center;
}
#newsletter div input{
    font-size: large;
    box-shadow: 10px 10px 10px grey;
    border-radius: 6px;
    padding: 5px;
    border: transparent; 
}

/* use advanced css selector */
#newsletter input[type="button"]{
    font-weight: bold;
    color: var(--clr-highlight-dark);
    cursor: pointer;
}
#newsletter input[type="button"]:hover{
    background-color: var(--clr-primary);
    color: var(--clr-highlight-light);
}

/* ====jumb To UP == */
#toUp{
    background-image: url("./arrow.svg");
    transform: rotate(90deg);
    opacity: 0.6;
    cursor: pointer;
    width: 60px;
    height: 60px;
    position:sticky;
    bottom: 10px;
    left: 100%;
    background-color:var(--clr-primary);
    
}
#toUp:hover{
    opacity: 1;
}

/* ====FOOTER======= */
footer{
    width: 100%;
    background-color: var(--clr-primary);
    min-height:100px ; 
    border-radius: 5px;
}

footer .footer-nav{
    color: var(--clr-highlight-light);
}
.footer-nav ul{
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(30,107,175,1) 75%);
    display: flex;
    justify-content:space-evenly;
}
.footer-nav a{
    color: var(--clr-highlight-light);
    text-transform: uppercase;
}
.footer-nav a:hover{
    color: gainsboro;
    font-weight: bold;
}
.footer-copyright{
    text-align: center;
}